body {
	font-family: 'Raleway', sans-serif;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bgImg {
	position: absolute;
	height: 100vh;
	width: 100vw;
	left: 0px;
	top: 0px;
	z-index: -1;
}

#quote-box {
	opacity: 0.9;
}

#new-quote {
	background-color: grey;
	opacity: 1;
}

#tweet-quote {
	color: grey;
	opacity: 1;
}